.text-right.forget-pass a {
  font-size: 12px;
  color: #d39e00;
  text-decoration: none;
}
.sign-up {
  color: #fff;
}
.sign-up a {
  color: #d39e00;
  font-weight: 600;
  text-decoration: none;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:first-child:active {
  background: #3b5998;
  border-color: #3b5998;
  color: #fff;
}

.btn-facebook:hover {
  opacity: 0.9;
}

.btn-facebook:first-child:active {
  opacity: 0.8;
}

hr{
  border-top: 1px solid #ffffff;
}

.facebookLogin{
  display: flex;
  align-items: center;
  justify-content: center;  
}
.alert-danger{
  margin-top: 10px;
}
